[Desktop Entry]
Name=GUI-Scale Applet
Type=Application
Exec=gui-scale-applet
Terminal=false
Categories=COSMIC;Network;Utility;
Keywords=Tailscale;VPN;Network;COSMIC;
Icon=tailscale-icon
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Start
X-OverflowPriority=10
